.title {
    margin-top: 10%;
    font-weight: bold;
}

.cat {
    margin-top: 5%;
    padding-bottom: 2%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #666;
}

.subtitle {
    color: #666;
}

.button {
    margin-top: 10%;
}

section {
    margin-top: 5%;
    margin-bottom: 20%;
}

.wrap {
    padding: 10%;
    background-color: #f7f7f7;
}